@import "tailwindcss";

@theme {
  --font-mysoul: "My Soul", cursive;
  --my-custom-variable: 70px;

  /* --primary: goldenrod; */
  /* --color-primary: var(--primary); */
  --color-primary: goldenrod;

  --spacing-2: 9px;
  --spacing-1\/10: 10%;
}

/* @layer base {
  h1 {
    letter-spacing: 10px;
    @apply rotate-90;
  }
} */

@layer base {
  button {
    @apply cursor-pointer border-2 border-solid border-black p-1.25 select-none;
  }
}

@layer components {
  .btn {
    /* transition: all 1s ease; */
    @apply hover:text-primary bg-black p-2 text-white [border:2px_solid_black];
    @variant theme-midnight {
      color: red;
    }
  }
}

@utility float {
  transition: all 1s ease;
  transform: translateX(50px);
}

@utility outlet-grid {
  grid-template-columns: 10px 1fr 10px;
}

@custom-variant theme-midnight {
  &:where([data-theme="midnight"] *) {
    @slot;
  }
}
